
<div class="section-header" (click)="toggle()">
    <h2>General Details</h2>

    <mat-icon>
        {{ isOpen ? 'expand_less' : 'expand_more' }}
    </mat-icon>
</div>

<div
    class="collapsible"
    [class.open]="isOpen"
    [formGroup]="form">

    @if (isOpen) {

        <div class="form-grid-2">

            <!-- ================= Product Type ================= -->
            <div class="field-group">

                <h4>Product Type</h4>

                <mat-form-field
                    appearance="outline"
                    class="full">

                    <mat-label>Product Type</mat-label>

                    <mat-select formControlName="productType">

                        <mat-option value="">
                            Select Product Type
                        </mat-option>

                        <mat-option value="bidbond">
                            Bid Bond
                        </mat-option>

                        <mat-option value="performance">
                            Performance
                        </mat-option>

                        <mat-option value="advance">
                            Advance
                        </mat-option>

                        <mat-option value="custom">
                            Custom
                        </mat-option>

                    </mat-select>

                </mat-form-field>

                <!-- Previous Product Type -->
                <div
                    class="previous-value"
                    *ngIf="hasPreviousValue('productType')">

                    <span class="previous-label">
                        Previous Value:
                    </span>

                    <span class="previous-text">
                        {{ getPreviousValue('productType') }}
                    </span>

                </div>

            </div>


            <!-- ================= Mode of Transmission ================= -->
            <div class="field-group">

                <h4>Mode of Transmission</h4>

                <mat-form-field
                    appearance="outline"
                    class="full">

                    <mat-label>Mode of Transmission</mat-label>

                    <mat-select formControlName="modeOfTransmission">

                        <mat-option value="">
                            Select Mode
                        </mat-option>

                        <mat-option value="SWIFT">
                            SWIFT
                        </mat-option>

                        <mat-option value="Courier/Mail">
                            Courier/Mail
                        </mat-option>

                        <mat-option value="Other">
                            Other
                        </mat-option>

                    </mat-select>

                </mat-form-field>

                <!-- Previous Mode of Transmission -->
                <div
                    class="previous-value"
                    *ngIf="hasPreviousValue('modeOfTransmission')">

                    <span class="previous-label">
                        Previous Value:
                    </span>

                    <span class="previous-text">
                        {{ getPreviousValue('modeOfTransmission') }}
                    </span>

                </div>

            </div>

        </div>


        <!-- ================= Form Of Undertaking ================= -->
        <h4>Form Of Undertaking</h4>

        <mat-radio-group formControlName="formOfUndertaking">

            <mat-radio-button value="demandguarantee">
                Demand Guarantee
            </mat-radio-button>

            <mat-radio-button value="sloc">
                Standby Letter Of Credit
            </mat-radio-button>

            <mat-radio-button value="dependentundertaking">
                Dependent Undertaking
            </mat-radio-button>

        </mat-radio-group>

        <!-- Previous Form Of Undertaking -->
        <div
            class="previous-value"
            *ngIf="hasPreviousValue('formOfUndertaking')">

            <span class="previous-label">
                Previous Value:
            </span>

            <span class="previous-text">
                {{ getPreviousValue('formOfUndertaking') }}
            </span>

        </div>


        <!-- ================= Purpose ================= -->
        <h4>Purpose</h4>

        <mat-radio-group formControlName="purpose">

            <mat-radio-button value="issuanceofundertaking">
                Issuance Of Undertaking
            </mat-radio-button>

            <mat-radio-button value="clundertaking">
                Counter And Local Undertaking
            </mat-radio-button>

            <mat-radio-button value="cccundertaking">
                Counter-Counter And Counter Undertaking
            </mat-radio-button>

        </mat-radio-group>

        <!-- Previous Purpose -->
        <div
            class="previous-value"
            *ngIf="hasPreviousValue('purpose')">

            <span class="previous-label">
                Previous Value:
            </span>

            <span class="previous-text">
                {{ getPreviousValue('purpose') }}
            </span>

        </div>

    }

</div>

