@use '../../../../../../src/styles/theme' as theme;

/* ===================== Section Header ===================== */
.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: theme.$primary;
    padding: 14px 18px;
    border-radius: theme.$radius-large;
    cursor: pointer;
    margin-bottom: 10px;
    color: theme.$text-light;

    &:hover {
        background: theme.$primary-dark;
        box-shadow: theme.$shadow-primary;
    }

    mat-icon {
        color: theme.$text-light;
        font-size: 22px;
    }
}

/* ===================== Collapsible ===================== */
.collapsible {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.35s ease;
    transform: translateY(-5px);
}

.collapsible.open {
    max-height: 2000px;
    opacity: 1;
    transform: translateY(0);
    padding: 15px 10px;
    background: theme.$light-bg;
    border-radius: theme.$radius-default;
    border: 1px solid theme.$border-light;
}

/* ===================== Form Grid ===================== */
h2 {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    color: theme.$white;
}
h4 {
    font-size: 16px;
    margin: 20px 0 10px;
    font-weight: 600;
    color: theme.$primary-dark;
    border-left: 4px solid theme.$primary;
    padding-left: 8px;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: theme.$gap-default;
    margin-bottom: 15px;

    mat-form-field {
        width: 100%;
    }
}

.full-width {
    width: 100%;
    margin-bottom: 15px;
}

/* RADIO GROUP */
.options-row {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;

    mat-radio-group {
        display: flex;
        flex-wrap: wrap;
        gap: 22px;
    }
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .form-grid {
        grid-template-columns: 1fr;
    }

    .options-row mat-radio-group {
        flex-direction: column;
        gap: 10px;
    }
}