<ng-template #prev let-field>
  @if (hasPreviousValue(field)) {
    <div class="previous-value">
      <span class="previous-label">Previous Value:</span>
      <span class="previous-text">{{ getPreviousValue(field) }}</span>
    </div>
  }
</ng-template>

<div class="section-header" (click)="toggle()">
  <h2>General Details</h2>
  <mat-icon>{{ isOpen ? 'expand_less' : 'expand_more' }}</mat-icon>
</div>

<div class="collapsible" [class.open]="isOpen" [formGroup]="form">
  <div class="form-grid-2">
    <div class="field-group">
      <mat-form-field appearance="outline" class="full">
        <mat-label>Product Type</mat-label>
        <mat-select formControlName="productType">
          @for (o of productTypes; track o.value) {
            <mat-option [value]="o.value">{{ o.label }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <ng-container *ngTemplateOutlet="prev; context: { $implicit: 'productType' }"></ng-container>
    </div>

    <div class="field-group">
      <mat-form-field appearance="outline" class="full">
        <mat-label>Mode of Transmission</mat-label>
        <mat-select formControlName="modeOfTransmission">
          @for (o of transmissionModes; track o.value) {
            <mat-option [value]="o.value">{{ o.label }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <ng-container *ngTemplateOutlet="prev; context: { $implicit: 'modeOfTransmission' }"></ng-container>
    </div>

    <div class="field-group">
      <mat-form-field appearance="outline" class="full">
        <mat-label>Form of Undertaking</mat-label>
        <mat-select formControlName="formOfUndertaking">
          @for (o of formsOfUndertaking; track o.value) {
            <mat-option [value]="o.value">{{ o.label }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <ng-container *ngTemplateOutlet="prev; context: { $implicit: 'formOfUndertaking' }"></ng-container>
    </div>

    <div class="field-group">
      <mat-form-field appearance="outline" class="full">
        <mat-label>Purpose</mat-label>
        <mat-select formControlName="purpose">
          @for (o of purposes; track o.value) {
            <mat-option [value]="o.value">{{ o.label }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <ng-container *ngTemplateOutlet="prev; context: { $implicit: 'purpose' }"></ng-container>
    </div>
  </div>
</div>