@use '../../../../../../src/styles/_theme.scss' as theme;

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: theme.$primary;
  padding: 14px 18px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background 0.3s ease, box-shadow 0.3s ease;
  color: theme.$text-light;

  &:hover {
    background: theme.$primary-dark;
    box-shadow: theme.$shadow-primary;
  }

  mat-icon {
    color: theme.$text-light;
    font-size: 22px;
  }
}

.collapsible {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.35s ease-in-out;
  transform: translateY(-5px);
}

.collapsible.open {
  max-height: 2000px;
  opacity: 1;
  transform: translateY(0);
  padding: 15px 10px;
  background: theme.$light-bg;
  border-radius: 6px;
  border: 1px solid theme.$border-light;
}

h2 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  color: theme.$white;
}

h4 {
    font-size: 16px;
    margin: 20px 0 10px;
    font-weight: 600;
    color: theme.$primary-dark;
    border-left: 4px solid theme.$primary;
    padding-left: 8px;
}

.form-row {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 18px;
}

.btn-row {
  display: flex;
  gap: 12px;
  margin: 12px 0 20px;
}

.form-grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 22px;
  align-items: start;
}
.field-group {
  display: flex;
  flex-direction: column;
  gap: 8px; // spacing between h4 and dropdown
}

h3 {
  font-size: 14px;
  font-weight: 600;
  margin: 20px 0 5px;
  color: theme.$primary-dark;
}

.form-grid {
  display: flex;
  gap: 30px;
}

.full {
  width: 100%;
}

mat-form-field {
  width: 100%;
  font-size: 14px;
}
.mat-mdc-select-value,
.mat-mdc-select-placeholder {
  font-size: 14px !important;
  color: theme.$primary-dark !important;
}

.actions {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

/* Primary Button */
button[mat-flat-button] {
  background: theme.$primary !important;
  color: theme.$text-light !important;
  box-shadow: theme.$button-shadow;
  border-radius: 6px;

  &:hover {
    background: theme.$primary-dark !important;
  }
}
