.section-header {
display: flex;
    justify-content: space-between;
    align-items: center;
    background: #3f51b5;
    /* Bluish primary */
    padding: 14px 18px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background 0.3s ease, box-shadow 0.3s ease;
    color: #fff;

    &:hover {
        background: #324296;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    }
                
    mat-icon {
                    color: #fff;
                    font-size: 22px;  
    }
}

.collapsible {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.35s ease-in-out;
    transform: translateY(-5px);
}

.collapsible.open {
    max-height: 2000px;
    opacity: 1;
    transform: translateY(0);
    padding: 15px 10px;
    background: #f8faff;
    border-radius: 6px;
    border: 1px solid #e3e8f5;
}


h2 {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.form-row {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 18px;
}

.btn-row {
    display: flex;
    gap: 12px;
    margin: 12px 0 20px;
}

.form-grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin-bottom: 22px;
}

h3 {
    font-size: 14px;
    font-weight: 600;
    margin: 20px 0 5px;
    color: #4c379a;
}

.form-grid {
    display: flex;
    gap: 30px;
}

.form-grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.full {
    width: 100%;
}

mat-form-field {
    // background: #f8f5ff;
    border-radius: 6px;
    width: 100%;
}

.actions {
            margin-top: 20px;
            margin-bottom: 40px;
            display: flex;
            justify-content: flex-end;
            gap: 10px;
}

button[mat-flat-button] {
    background: #c623af;
    color: white;
}