<div class="section-header" (click)="toggle()">
  <h2>Applicant and Beneficiary Details</h2>
  <mat-icon>{{ isOpen ? 'expand_less' : 'expand_more' }}</mat-icon>
</div>

<div class="collapsible" [class.open]="isOpen" [formGroup]="form">

  <!-- ========================= Applicant ========================= -->

  <h4>Applicant</h4>

  <div class="form-grid">

    <!-- Applicant Name -->
    <div class="field-group">
      <mat-form-field appearance="outline">
        <mat-label>Name *</mat-label>
        <input matInput formControlName="applicantName">
      </mat-form-field>

      <div
        class="previous-value"
        *ngIf="hasPreviousValue('applicantName')"
      >
        <span class="previous-label">Previous Value:</span>
        <span class="previous-text">
          {{ previousValues['applicantName'] }}
        </span>
      </div>
    </div>


    <!-- Applicant Address 1 -->
    <div class="field-group">
      <mat-form-field appearance="outline">
        <mat-label>Address 1 *</mat-label>
        <input matInput formControlName="applicantAddress1">
      </mat-form-field>

      <div
        class="previous-value"
        *ngIf="hasPreviousValue('applicantAddress1')"
      >
        <span class="previous-label">Previous Value:</span>
        <span class="previous-text">
          {{ previousValues['applicantAddress1'] }}
        </span>
      </div>
    </div>


    <!-- Applicant Address 2 -->
    <div class="field-group">
      <mat-form-field appearance="outline">
        <mat-label>Address 2</mat-label>
        <input matInput formControlName="applicantAddress2">
      </mat-form-field>

      <div
        class="previous-value"
        *ngIf="hasPreviousValue('applicantAddress2')"
      >
        <span class="previous-label">Previous Value:</span>
        <span class="previous-text">
          {{ previousValues['applicantAddress2'] }}
        </span>
      </div>
    </div>


    <!-- Applicant Address 3 -->
    <div class="field-group">
      <mat-form-field appearance="outline">
        <mat-label>Address 3</mat-label>
        <input matInput formControlName="applicantAddress3">
      </mat-form-field>

      <div
        class="previous-value"
        *ngIf="hasPreviousValue('applicantAddress3')"
      >
        <span class="previous-label">Previous Value:</span>
        <span class="previous-text">
          {{ previousValues['applicantAddress3'] }}
        </span>
      </div>
    </div>


    <!-- Applicant Address 4 -->
    <div class="field-group">
      <mat-form-field appearance="outline">
        <mat-label>Address 4</mat-label>
        <input matInput formControlName="applicantAddress4">
      </mat-form-field>

      <div
        class="previous-value"
        *ngIf="hasPreviousValue('applicantAddress4')"
      >
        <span class="previous-label">Previous Value:</span>
        <span class="previous-text">
          {{ previousValues['applicantAddress4'] }}
        </span>
      </div>
    </div>


    <!-- Applicant Country -->
    <div class="field-group">
      <mat-form-field appearance="outline">
        <mat-label>Country *</mat-label>

        <mat-select formControlName="applicantCountry">
          <mat-option value="Pakistan">Pakistan</mat-option>
          <mat-option value="UAE">UAE</mat-option>
          <mat-option value="USA">USA</mat-option>
          <mat-option value="UK">UK</mat-option>
        </mat-select>
      </mat-form-field>

      <div
        class="previous-value"
        *ngIf="hasPreviousValue('applicantCountry')"
      >
        <span class="previous-label">Previous Value:</span>
        <span class="previous-text">
          {{ previousValues['applicantCountry'] }}
        </span>
      </div>
    </div>

  </div>


  <!-- ========================= Beneficiary ========================= -->

  <h4>Beneficiary</h4>

  <div class="form-grid">

    <!-- Beneficiary Name -->
    <div class="field-group">
      <mat-form-field appearance="outline">
        <mat-label>Name *</mat-label>
        <input matInput formControlName="beneficiaryName">
      </mat-form-field>

      <div
        class="previous-value"
        *ngIf="hasPreviousValue('beneficiaryName')"
      >
        <span class="previous-label">Previous Value:</span>
        <span class="previous-text">
          {{ previousValues['beneficiaryName'] }}
        </span>
      </div>
    </div>


    <!-- Beneficiary Address 1 -->
    <div class="field-group">
      <mat-form-field appearance="outline">
        <mat-label>Address 1 *</mat-label>
        <input matInput formControlName="beneficiaryAddress1">
      </mat-form-field>

      <div
        class="previous-value"
        *ngIf="hasPreviousValue('beneficiaryAddress1')"
      >
        <span class="previous-label">Previous Value:</span>
        <span class="previous-text">
          {{ previousValues['beneficiaryAddress1'] }}
        </span>
      </div>
    </div>


    <!-- Beneficiary Address 2 -->
    <div class="field-group">
      <mat-form-field appearance="outline">
        <mat-label>Address 2</mat-label>
        <input matInput formControlName="beneficiaryAddress2">
      </mat-form-field>

      <div
        class="previous-value"
        *ngIf="hasPreviousValue('beneficiaryAddress2')"
      >
        <span class="previous-label">Previous Value:</span>
        <span class="previous-text">
          {{ previousValues['beneficiaryAddress2'] }}
        </span>
      </div>
    </div>


    <!-- Beneficiary Address 3 -->
    <div class="field-group">
      <mat-form-field appearance="outline">
        <mat-label>Address 3</mat-label>
        <input matInput formControlName="beneficiaryAddress3">
      </mat-form-field>

      <div
        class="previous-value"
        *ngIf="hasPreviousValue('beneficiaryAddress3')"
      >
        <span class="previous-label">Previous Value:</span>
        <span class="previous-text">
          {{ previousValues['beneficiaryAddress3'] }}
        </span>
      </div>
    </div>


    <!-- Beneficiary Address 4 -->
    <div class="field-group">
      <mat-form-field appearance="outline">
        <mat-label>Address 4</mat-label>
        <input matInput formControlName="beneficiaryAddress4">
      </mat-form-field>

      <div
        class="previous-value"
        *ngIf="hasPreviousValue('beneficiaryAddress4')"
      >
        <span class="previous-label">Previous Value:</span>
        <span class="previous-text">
          {{ previousValues['beneficiaryAddress4'] }}
        </span>
      </div>
    </div>


    <!-- Beneficiary Country -->
    <div class="field-group">
      <mat-form-field appearance="outline">
        <mat-label>Country *</mat-label>

        <mat-select formControlName="beneficiaryCountry">
          <mat-option value="Pakistan">Pakistan</mat-option>
          <mat-option value="UAE">UAE</mat-option>
          <mat-option value="USA">USA</mat-option>
          <mat-option value="UK">UK</mat-option>
        </mat-select>
      </mat-form-field>

      <div
        class="previous-value"
        *ngIf="hasPreviousValue('beneficiaryCountry')"
      >
        <span class="previous-label">Previous Value:</span>
        <span class="previous-text">
          {{ previousValues['beneficiaryCountry'] }}
        </span>
      </div>
    </div>

  </div>

</div>