@use '../../../../../../styles/theme' as theme;

.accordion-section {
  background: theme.$light-bg;
  border-radius: theme.$radius-large;
  margin-bottom: 1.8rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  overflow: hidden;

  .accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background: theme.$primary;
    color: theme.$text-light;
    padding: 14px 18px;
    cursor: pointer;

    &:hover {
      background: theme.$primary-dark;
      box-shadow: theme.$shadow-primary;
    }

    h2 {
      font-size: 20px;
      font-weight: 600;
      margin: 0;
    }
  }

  .accordion-content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.35s ease-in-out;

    &.open {
      max-height: 2000px;
      padding: 15px 10px;
      opacity: 1;
      background: theme.$light-bg;
      border-radius: theme.$radius-default;
      border: 1px solid theme.$border-light;
    }

    .form-group {
      display: flex;
      flex-wrap: wrap;
      gap: theme.$gap-default;
      margin-bottom: 22px;

      mat-form-field {
        width: 100%;
      }

      &.two-col > mat-form-field {
        flex: 1 1 45%;
      }
    }

    .sub-title {
      font-size: 16px;
      font-weight: 600;
      margin: 10px 0;
      color: theme.$primary-dark;
    }
  }
}

/* Responsive */
@media (max-width: 768px) {
  .form-group.two-col > mat-form-field {
    flex: 1 1 100%;
  }
}
