<div class="section-header" (click)="toggle()">
  <h2>License</h2>
  <mat-icon>{{ isOpen ? 'expand_less' : 'expand_more' }}</mat-icon>
</div>
<!-- Collapsed Preview -->
<ng-container *ngIf="!isOpen">
  <div class="preview-block">
    <div *ngIf="file">
      <strong>Selected File:</strong> {{ file.name }} ({{ formatFileSize(file.size) }})
    </div>
    <div *ngIf="!file">
      No file uploaded
    </div>
  </div>
</ng-container>


<div class="collapsible" [class.open]="isOpen">

  <h4>Select File (*.txt / *.pdf)</h4>

  <div class="form-row">
    <input type="file" (change)="onFileChange($event)">
  </div>

  <div *ngIf="file">
    <p><strong>Selected:</strong> {{ file.name }} ({{ formatFileSize(file.size) }})</p>
  </div>

</div>