<div class="screen">

    <!-- Sidebar -->
    <!-- <aside class="side-nav">
        <ul>
            <li *ngFor="let s of steps; let i = index" (click)="selectStep(i)" [class.active]="i===currentStep">
                <span class="num">{{ i+1 }}</span> {{ s }}
            </li>
        </ul>
    </aside> -->
        <aside class="side-nav">
            <ul>
                <li *ngFor="let s of steps; let i=index" (click)="changeStep(i)" [class.active]="i===currentStep">
                    <span class="num">{{ i+1 }}</span> {{ s.label }}
                </li>
            </ul>
        </aside>

    
    <!-- Main Content -->
    <div class="content">
    <div class="scroll-area">
   
<div>
    <app-general-details></app-general-details>

    <hr class="section-divider" />

    <app-applicant-beneficiary></app-applicant-beneficiary>
</div>

        <!-- Footer Buttons -->
        <!-- <div class="actions">
            <button mat-stroked-button>Exit</button>
            <button mat-flat-button color="primary" (click)="next()">Next</button>
        </div>
         -->
        <div class="actions">
                        <button mat-stroked-button (click)="previous()" [disabled]="currentStep==0">Back</button>
                        <button mat-flat-button color="primary" (click)="next()">Submit</button>
            </div>

    </div>
    </div>

</div>