<div class="screen">
 
  <!-- SIDEBAR -->
  <app-sidebar
    [steps]="exportCollectionSteps"
    [currentStep]="currentStep"
    (stepChange)="scrollToSection($event)">
  </app-sidebar>
 
  <!-- MAIN CONTENT -->
  <div class="content">
 
    <div class="scroll-area">
 
      <!-- SECTIONS -->
 
      <section id="section-0">
        <app-general-details
          [form]="generalDetails">
        </app-general-details>
      </section>
 
      <hr class="section-divider" />
 
      <section id="section-1">
        <app-drawer-drawee-details
          [form]="DrawerDraweeDetails">
        </app-drawer-drawee-details>
      </section>
 
      <hr class="section-divider" />
 
      <section id="section-2">
        <app-bank-details
          [form]="bankDetails">
        </app-bank-details>
      </section>
 
      <hr class="section-divider" />
 
      <section id="section-3">
        <app-payment-amount
          [form]="PaymentAndAmount">
        </app-payment-amount>
      </section>
 
      <hr class="section-divider" />
 
      <section id="section-4">
        <app-shipping-details
          [form]="ShipmentDetails">
        </app-shipping-details>
      </section>
 
      <hr class="section-divider" />
 
      <section id="section-5">
        <app-collection-instructions
          [form]="CollectionInstruction">
        </app-collection-instructions>
      </section>
 
      <hr class="section-divider" />
 
      <section id="section-6">
        <app-license>
        </app-license>
      </section>
 
      <hr class="section-divider" />
 
      <section id="section-7">
 
        <app-attachments-documents
          (filesChange)="updateAttachments($event)">
        </app-attachments-documents>
 
      </section>
 
      <!-- ================================================= -->
      <!-- FOOTER BUTTONS -->
      <!-- ================================================= -->
 
      <div class="actions">
 
        <!-- CREATE -->
 
        <ng-container
          *ngIf="mode === 'CREATE'">
 
          <button
            mat-stroked-button
            color="primary"
            (click)="back()">
            Back
          </button>
 
          <button
            *ngIf="hasPermission('EC_CreateSave')"
            mat-flat-button
            color="accent"
            (click)="saveForm()">
            Save
          </button>
 
        </ng-container>
 
 
        <!-- EDIT / AMEND -->
 
        <ng-container
          *ngIf="
            screenMode === 'EDIT' &&
            mode === 'UPDATE'
          ">
 
          <button
            *ngIf="hasPermission('EC_InquiryPendingUpdate')"
            mat-stroked-button
            color="primary"
            (click)="update()">
            Update
          </button>
 
          <button
            *ngIf="hasPermission('EC_InquirySubmit')"
            mat-flat-button
            color="accent"
            (click)="submitCollection()">
            Submit
          </button>
 
        </ng-container>
 
 
        <!-- APPROVAL -->
 
        <ng-container
          *ngIf="screenMode === 'SUBMITTED'">
 
          <button
            *ngIf="hasPermission('EC_InquiryReject')"
            mat-stroked-button
            color="primary"
            (click)="openReject()">
            Reject
          </button>
 
          <button
            *ngIf="hasPermission('EC_InquiryApprove')"
            mat-flat-button
            color="accent"
            (click)="approve()">
            Approve
          </button>
 
        </ng-container>
 
 
        <!-- APPROVED -->
 
        <ng-container
          *ngIf="screenMode === 'APPROVED'">
 
          <button
            mat-stroked-button
            color="primary"
            (click)="back()">
            Back
          </button>
 
        </ng-container>
 
 
        <!-- REJECTED -->
 
        <ng-container
          *ngIf="
            screenMode === 'EDIT' &&
            mode === 'REJECTED'
          ">
 
          <button
            mat-stroked-button
            color="primary"
            (click)="back()">
            Back
          </button>
 
          <button
            *ngIf="hasPermission('EC_InquiryRejectUpdate')"
            mat-flat-button
            color="primary"
            (click)="updateRejected()">
            Update
          </button>
 
        </ng-container>
 
      </div>
 
    </div>
 
  </div>
 
</div>