<div class="section-header" (click)="toggle()">
  <h2>General Details</h2>
  <mat-icon>{{ isOpen ? 'expand_less' : 'expand_more' }}</mat-icon>
</div>

<!-- COLLAPSIBLE -->
<div class="collapsible" [class.open]="isOpen">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="form-grid-2">

 <mat-form-field appearance="outline">
                <mat-label>Expiry Date *</mat-label>

                <input matInput [matDatepicker]="picker" formControlName="expiryDate"
                    placeholder="Select expiry date" />

                <mat-datepicker-toggle matSuffix [for]="picker" class="date-toggle"></mat-datepicker-toggle>

                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
      <!-- Beneficiary Reference -->
      <mat-form-field appearance="outline">
        <mat-label>Beneficiary Reference</mat-label>
        <input matInput type="text" formControlName="beneficiaryReference" />
      </mat-form-field>

      <!-- Customer Reference -->
      <mat-form-field appearance="outline">
        <mat-label>Customer Reference</mat-label>
        <input matInput type="text" formControlName="customerReference" />
      </mat-form-field>

      <!-- Bill of Lading -->
      <mat-form-field appearance="outline">
        <mat-label>Bill of Lading / Airway Bill Number *</mat-label>
        <input matInput type="text" formControlName="billNumber" />
      </mat-form-field>

      <!-- Mode of Shipment -->
      <mat-form-field appearance="outline">
        <mat-label>Mode of Shipment *</mat-label>
        <mat-select formControlName="modeOfShipment">
          <mat-option value="Air">Air</mat-option>
          <mat-option value="Sea">Sea</mat-option>
          <mat-option value="Road">Road</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Shipping Details -->
      <mat-form-field appearance="outline">
        <mat-label>Shipping Details</mat-label>
        <textarea matInput rows="2" formControlName="shippingDetails"></textarea>
      </mat-form-field>

      <!-- Description of Goods (full) -->
      <mat-form-field appearance="outline" class="full">
        <mat-label>Description of Goods *</mat-label>
        <textarea matInput rows="3" maxlength="222" formControlName="descriptionOfGoods"></textarea>
        <mat-hint align="end">
          {{ form.get('descriptionOfGoods')?.value?.length || 0 }}/222
        </mat-hint>
      </mat-form-field>

    </div>

    <!-- <div class="actions">
      <button type="button" mat-stroked-button (click)="toggle()">Cancel</button>
      <button type="submit" mat-flat-button color="primary" [disabled]="form.invalid">
        Save
      </button>
    </div> -->

  </form>
</div>