<div class="section-header" (click)="toggle()">
  <h2>Applicant & Beneficiary Details</h2>
  <mat-icon>{{ isOpen ? 'expand_less' : 'expand_more' }}</mat-icon>
</div>

<!-- COLLAPSIBLE -->
<div class="collapsible" [class.open]="isOpen">
  <form [formGroup]="form" class="details-form">

    <mat-form-field appearance="outline" class="full">
      <mat-label>Applicant Name *</mat-label>
      <input matInput type="text" formControlName="applicantName" placeholder="Enter applicant name" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full">
      <mat-label>Beneficiary Name *</mat-label>
      <input matInput type="text" formControlName="beneficiaryName" placeholder="Enter beneficiary name" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full">
      <mat-label>Beneficiary Country *</mat-label>
      <input matInput type="text" formControlName="beneficiaryCountry" placeholder="Enter country" />
    </mat-form-field>

    <!-- <div class="actions">
      <button type="button" mat-stroked-button (click)="toggle()">Cancel</button>
      <button type="submit" mat-flat-button color="primary" [disabled]="form.invalid">
        Save
      </button>
    </div> -->

  </form>
</div>