<div class="section-header" (click)="toggle()">
    <h2>General Details</h2>
    <mat-icon>{{ isOpen ? 'expand_less' : 'expand_more' }}</mat-icon>
</div>

<div class="collapsible" [class.open]="isOpen">
    <div class="form-grid-2">
        <!-- Product Type -->
        <div class="field-group">
            <h4>Product Type</h4>
            <mat-form-field appearance="outline" class="full">
                <mat-label>Product Type</mat-label>
                <mat-select>
                    <mat-option value="backtoback">Back-To-Back LC</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <!-- Mode of Transmission -->
        <div class="field-group">
            <h4>Mode of Transmission</h4>
            <mat-form-field appearance="outline" class="full">
                <mat-label>Mode of Transmission</mat-label>
                <mat-select>
                    <mat-option value="SWIFT">SWIFT ✅</mat-option>
                    <mat-option value="Courier/Mail">Courier/Mail</mat-option>
                    <mat-option value="Other">Other</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <h4>Form Of Undertaking</h4>
    <mat-radio-group>
        <mat-radio-button value="demandguarantee">Demand Guarantee</mat-radio-button>
        <mat-radio-button value="sloc">Standby Letter Of Credit </mat-radio-button>
        <mat-radio-button value="dependentundertaking">Dependent Undertaking</mat-radio-button>
    </mat-radio-group>

    <h4>Purpose</h4>
    <mat-radio-group>
        <mat-radio-button value="issuanceofundertaking">Issuance Of Undertaking</mat-radio-button>
        <mat-radio-button value="clundertaking">Counter And Local Undertaking</mat-radio-button>
        <mat-radio-button value="cccundertaking">Counter-Counter And Counter Undertaking</mat-radio-button>
    </mat-radio-group>
</div>