<div class="section-header" (click)="toggle()">
    <h2>General Details</h2>
    <mat-icon>{{ isOpen ? 'expand_less' : 'expand_more' }}</mat-icon>
</div>

<!-- COLLAPSIBLE -->
<div class="collapsible" [class.open]="isOpen" [formGroup]="form">

    <!-- FORM (WHEN OPEN) -->
    <ng-container *ngIf="isOpen">

        <div class="form-grid-2">
            <!-- Product Type -->
            <div class="field-group">
                <h4>Product Type</h4>
                <mat-form-field appearance="outline" class="full">
                    <mat-label>Product Type</mat-label>
                    <mat-select formControlName="productType">
                        <mat-option value="backtoback">Back-To-Back LC</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- Mode of Transmission -->
            <div class="field-group">
                <h4>Mode of Transmission</h4>
                <mat-form-field appearance="outline" class="full">
                    <mat-label>Mode of Transmission</mat-label>
                    <mat-select formControlName="modeOfTransmission">xx``sz  
                        <mat-option value="SWIFT">SWIFT</mat-option>
                        <mat-option value="Courier/Mail">Courier/Mail</mat-option>
                        <mat-option value="Other">Other</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <!-- Expiry Fields -->
        <div class="form-grid-2">
            <mat-form-field appearance="outline">
                <mat-label>Expiry Date *</mat-label>

                <input matInput [matDatepicker]="picker" formControlName="expiryDate"
                    placeholder="Select expiry date" />

                <mat-datepicker-toggle matSuffix [for]="picker" class="date-toggle"></mat-datepicker-toggle>

                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>


            <mat-form-field appearance="outline">
                <mat-label>Place of Expiry *</mat-label>
                <mat-select formControlName="placeOfExpiry">
                    <mat-option value="beneficiary">In Beneficiary's Country</mat-option>
                    <mat-option value="issuing">In Issuing Country</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <h4>Feature of LC</h4>
        <div class="form-grid">
            <mat-checkbox formControlName="featureIrrevocable">Irrevocable</mat-checkbox>
            <mat-checkbox formControlName="featureRevolving">Revolving</mat-checkbox>
            <mat-checkbox formControlName="featureTransferable">Transferable</mat-checkbox>
        </div>

        <h4>Applicable Rules</h4>
        <mat-form-field appearance="outline" class="full">
            <mat-select placeholder="Applicable Rules" formControlName="applicableRules" required>
                <mat-option value="EUCP">EUCP LATEST VERSION</mat-option>
                <mat-option value="EUCPURR">EUCPURR LATEST VERSION</mat-option>
                <mat-option value="Others">OTHERS</mat-option>
            </mat-select>
        </mat-form-field>

        <h4>Confirmation Instructions</h4>
        <mat-radio-group formControlName="confirmationInstruction">
            <mat-radio-button value="confirm">Confirm</mat-radio-button>
            <mat-radio-button value="without">Without</mat-radio-button>
            <mat-radio-button value="mayAdd">May Add</mat-radio-button>
        </mat-radio-group>

    </ng-container>
</div>